p {
  font-family: Lato;
}
.textxd{
  background-color: red;


}
body{
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.cl%2Fpin%2F341992165440621681%2F&psig=AOvVaw2kTkQF0MaIEhzle7n_bwv7&ust=1632246720583000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLj22Yi0jvMCFQAAAAAdAAAAABAI");
}