<hello name="{{ name }}"></hello>
<br><br>
<center><p class="display-3">
  ¿Que deseas hacer?
</p></center>
<br>
<div class= "d-grid gap-2">
<center><button type="button" class="btn btn-primary">Viajar con un compañero</button></center>
<center><button type="button" class="btn btn-success">Envios</button></center>
</div>



<!-- CSS BOOTSTRAP/!-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


